html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background-color: rgb(245, 245, 245);
}

.burst{
    color: green; 
    display: inline;
    border: 1px solid green;
    border-radius: 50%;
    padding: 4px 10px 4px 10px;
}

.block-item-div-or-form{
    margin: 5px;
    padding: 10px; 
    width: 55%;
    background-color: #F5F5F5;
}

.block-item-div-or-form:hover{
    border: none;
    border-radius: 10px;
    padding: 10px; 
    width: 55%;
    background-color: #FFFFFF;
    border-top: none;
    border-bottom: none;
    box-shadow: 5px 5px 10px rgba(31, 31, 31, 0.4);
}

.block-item-button{
    border: none;
    color: white;
    padding: 5px;
    margin: 0 2px 0 2px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    float: right;
}

.block-item-button:hover{
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(31, 31, 31, 0.4);
}

.block-item-description{
  margin: 0;
  padding: 20px;
  color: #222222;
}

.block-item-description:hover{
    cursor: pointer;
}

/* animated background */
